@media screen and (min-width: 480px){
	body {
		background-color: yellowgreen;
	}
#main li {
	width: 50%;
	float: left;
}

#header {
	
}

#main {
	overflow: hidden;
}

#aside {
	overflow: hidden;
}

#footer {
	height: 100px;
}

.check{
	width: 70px;
	height: 70px;
	position: absolute;
	top:0;
	left: 0;
	z-index: 2;
	opacity: 0;
}
.check:checked ~ #menu{
	left: 0;
	transition: 1.6s;
}
.check:not(:checked)~ #menu{
	left: -500px;
	transition: 1.5s;
}
#burguer{
background-color: violet;
	width: 50px;
	height: 50px;
	padding-top: 5px;
	top:20px;
	position: absolute;
}
#burguer > li{
	background-color: #FFFFFF;
	width: 30px;
	height: 5px;
	margin: 5px auto;
	padding: 0;
	border-radius: 15px;
	border: 0;
}

#menu{
	position: absolute;
	top:100px;
	left: -100%;
	width: 50%;

}

}