*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
height: 15vh;
background-color: violet;
}
aside{
height: 20vh;
background-color: cyan;
	overflow-y: scroll;

}
#slider{
	height: 10vh;
	width: 300vw;
	background-color:yellow;

}
aside::-webkit-scrollbar{
	display: none;
}
.bolas{
	width: 10vh;
	height:10vh;
	border-radius: 50%;
	background-color: white;
	border: solid 1px #666;
	margin: 0 5px;
	display: inline-block;
}
section p{
	font-size: 26pt;
}

section{
height:65vh;
background-color: green;
overflow-x: auto;
scrollbar-width:none;
}
section::-webkit-scrollbar{
	display: none;
}
footer{
height: 5vh;
background-color: violet;
}
i{
	width: 300px;
height: 100px;
	background-color: red;
	color:white;

}