*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	color:white;
}
header{
background-color: rgba(255,255,255,0.8);
}
#main{
background-color: rgba(255,255,255,0.5);
}
aside{
background-color: rgba(255,255,255,0.3);
}
footer{
background-color: rgba(255,255,255,0.1);
}
div,aside, li{
	padding: 10px;
}
li{
	list-style-type: none;
	background-color: #AAA;
	height: 15%;
	border: solid white 10px
}
nav{
	background-color: red;
	
}
nav li{
	height: 50px;
	background-color: orange;
}